<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<h1>Cotizacion</h1>

		<div class="card border-success text-center ">
			<div class="card-header border-success">Cotizacion</div>
			<div class="card-body">

				<form th:action="@{'/cotizacion/buscar'}" method="get"
					class="form-inline">
					<div class="form-group mx-sm-3 mb-2">
						<input type="text" class="form-control" id="txtId" name="txtId"
							placeholder="Id">
					</div>
					<button type="submit" class="btn btn-primary mb-2">buscar</button>
				</form>

				<div class="table-responsive">
					<table class="table table-striped">
						<thead class="bg-primary text-white">
							<tr>
								<th scope="col">Id</th>
								<th scope="col">Cliente</th>
								<th scope="col">Producto</th>
								<th scope="col">Cantidad</th>
									<th scope="col">Costo x cantidad</th>
										<th scope="col">Fecha de entrega</th>
										<th scope="col">Fecha de recojo</th>
										<th scope="col">Fecha de cotizacion</th>
								<th scope="col" colspan="3">Options</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="cotizacion:${cotizaciones}">
								<th scope="row" th:text="${cotizacion.idCotizacion}"></th>
								<td class="text-left" th:text="${cotizacion.cliente.Razonsocial}"></td>
								<td class="text-left" th:text="${cotizacion.producto.nombre}"></td>
								<td class="text-left" th:text="${cotizacion.cantidad}"></td>
								<td class="text-left" th:text="${cotizacion.costoxcantidad}"></td>
								<td class="text-left" th:text="${cotizacion.Fechaentrega}"></td>
								<td class="text-left" th:text="${cotizacion.FechaRecojo}"></td>
								<td class="text-left" th:text="${cotizacion.Fechacotizacion}"></td>
								
								
								
								<td><a th:href="@{'/cotizacion/edit/' + ${cotizacion.idCotizacion}}"
									class="btn btn-info"> <i class="fas fa-edit"></i>
								</a></td>
								<td><a  th:href="@{'/cotizacion/del/' + ${cotizacion.idCotizacion}}"
									class="btn btn-danger" > <i class="fas fa-trash-alt"></i>
								</a></td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
			<div class="card-footer text-muted border-success">
				<a th:href="@{/cotizacion/new/}"
					class="btn btn-success"> <i class="fas fa-file"></i> Nueva Cotizacion
				</a>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>