<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<h1>Productos</h1>

		<div class="card border-success text-center ">
			<div class="card-header border-success">productos</div>
			<div class="card-body">

				<form th:action="@{'/producto/buscar'}" method="get"
					class="form-inline">
					<div class="form-group mx-sm-3 mb-2">
						<input type="text" class="form-control" id="txtId" name="txtId"
							placeholder="Id">
					</div>
					<button type="submit" class="btn btn-primary mb-2">buscar</button>
				</form>
<form th:action="@{'/producto/buscarModelo'}" method="get"
					class="form-inline">
					<div class="form-group mx-sm-3 mb-2">
						<input type="text" class="form-control" id="modelo" name="modelo"
							placeholder="Modelo">
					</div>
					<button type="submit" class="btn btn-primary mb-2">buscar</button>
				</form>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead class="bg-primary text-white">
							<tr>
								<th scope="col">Id</th>
								<th scope="col">Nombre</th>
								<th scope="col">Stock</th>
								
									<th scope="col">Costo Unitario</th>
									<th scope="col">Modelo</th>
								
										<th scope="col">Estado</th>
										<th scope="col">Cotizacion</th>
								<th scope="col" colspan="3">Options</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="productos:${productos}">
								<th scope="row" th:text="${productos.idProducto}"></th>
								<td class="text-left" th:text="${productos.nombre}"></td>
								<td class="text-left" th:text="${productos.stock}"></td>
								<td class="text-left" th:text="${productos.costounitario}"></td>
								<td class="text-left" th:text="${productos.modelo}"></td>
								
								<td class="text-left" th:text="${productos.Estado}"></td>
								<td class="text-left" th:text="${productos.cotizacion.idCotizacion}"></td>
								
								
								
								<td><a th:href="@{'/producto/edit/' + ${productos.idProducto}}"
									class="btn btn-info"> <i class="fas fa-edit"></i>
								</a></td>
								<td><a  th:href="@{'/producto/del/' + ${productos.idProducto}}"
									class="btn btn-danger" > <i class="fas fa-trash-alt"></i>
								</a></td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
			<div class="card-footer text-muted border-success">
				<a th:href="@{/producto/new/}"
					class="btn btn-success"> <i class="fas fa-file"></i> Nuevo producto
				</a>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>




